<div class="large-container center-block margin-top"> 
    <h1>Bienvenido</h1>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="lead">Crea alertas para tus proximos viajes y revisa los mejores precios disponibles en Recorrido.cl</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Registrate, inicia sesión y crea tus alertas!
        </figcaption>
    <figure>

    <a href="/users/sign_in"class="link-primary">Inicia Sesión</a><br><br>
    <a href="/users/sign_up"class="link-info">Registrate</a>



</div<



