<div class="large-container center-block margin-top">
    <h1>Editar alerta</h1>

    <%= render 'form', alert: @alert %>

    <%= link_to 'Ver', @alert, class: "btn btn-outline-primary"%> |
    <%= link_to 'Volver', alerts_path, class: "btn btn-outline-secondary" %>
</div>
